@{
    ViewBag.Title = "ConfigRemove";
}

<h2>Are you sure you want to remove this handler?</h2>
<p>
    @ViewBag.Test
</p>

<button type="button" id="OK">OK</button>
<button type="button" id="Cancel">Cancel</button>

<script type="text/javascript">
    document.getElementById("OK").onclick = function () {
        document.getElementById("Cancel").disabled = true;
        document.getElementById("OK").disabled = true;
        location.href = "HandlerDelete";
    };
 </script>

<script type="text/javascript">
    document.getElementById("Cancel").onclick = function aa() {
        document.getElementById("Cancel").disabled = true;
        document.getElementById("OK").disabled = true;
        location.href = "DeleteCancel";
    };
</script>
