@{
    ViewBag.Title = "ConfigRemove";
}

<h2>Are you sure you want to remove this handler?</h2>
<p>
    @ViewBag.Test
</p>
<button type="button" id="OK" style="margin:10px" >OK</button>
<button type="button" id="Cancel" style="margin:10px">Cancel</button>

@*<script type="text/javascript">
    document.getElementById("OK").onclick = function () {
        document.getElementById("Cancel").disabled = true;
        document.getElementById("OK").disabled = true;
        location.href = "DeleteOK";
    };
</script>

<script type="text/javascript">
    document.getElementById("Cancel").onclick = function () {
        document.getElementById("Cancel").disabled = true;
        document.getElementById("OK").disabled = true;
        location.href = "DeleteCancel";
    };
</script>*@
