@{
    ViewBag.Title = "PhotoRemove";
}

<h2>Are you sure you want to remove this picture?</h2>
<img class="img-circle" src="/@ViewBag.picPath" />
<button type="button" id="OK" style="margin:10px">OK</button>
<button type="button" id="Cancel" style="margin:10px"><font>Cancel</font></button>


<script type="text/javascript">
    //the function starts when the user press the ok button.
    //the function disabled the buttons and call to the PictureDeleteOk function in the controller
    document.getElementById("OK").onclick = function () {
        document.getElementById("Cancel").disabled = true;
        document.getElementById("OK").disabled = true;
        location.href = "PictureDeleteOK";
    };
</script>

<script type="text/javascript">
    //the function satrts when the user press the cancel button.
    //the function disabled the buttons and call to the PictureDeleteCancel function in the controller
    document.getElementById("Cancel").onclick = function () {
        document.getElementById("Cancel").disabled = true;
        document.getElementById("OK").disabled = true;
        location.href = "PicturDeleteCancel";
    };
</script>
