@model ImageServiceWeb.Models.PhotosModel

@{
    ViewBag.Title = "Photos";
}

<h2>Photos</h2>

@foreach (var pics in Model.dictionary)
{
    <div class="col-xs-18 col-sm-6 col-md-3">
        <div class="thumbnail">
            @*shows all the thumbnails from the output directory*@
            <img class="img-circle" src="/@pics["Thumbnails"].Replace(Server.MapPath("~"), "").Replace("\\", "/")" alt="Avatar">
            <div class="caption">
                <h4>@pics["Name"]</h4>
                <p>@pics["Date"]</p>
                @*link to different page, to view the photo *@
                <a class="btn btn-info btn-xs" role="button" href="@Url.Action("ViewPhoto", "Home", new { pic = pics["Picture"].Replace(Server.MapPath("~"), "").Replace("\\", "/"), name = pics["Name"], date = pics["Date"], thumb = pics["Thumbnails"].Replace(Server.MapPath("~"), "").Replace("\\", "/") })">View</a>
                @*link to different page, to delete the photo *@
                <a class="btn btn-danger btn-xs" role="button" href="@Url.Action("PhotoRemove", "Home", new { dir = pics["Thumbnails"].Replace(Server.MapPath("~"), "").Replace("\\", "/") })">Delete</a>
            </div>
        </div>
    </div>
}
<br />
<br />


