@{
    ViewBag.Title = "ViewPhoto";
}

<h2 style="margin-left:6px;"> <b>@ViewBag.Name</b></h2>
<h3 style="margin-left:6px;"> Date: @ViewBag.Date</h3>
<br />
@*link to different page, links back to the Photos page *@
<a class="btn btn-success btn-xs" role="button" href="@Url.Action("Photos", "Home", new { })">Back</a>
&emsp;
&emsp;
@*link to different page, to delete the photo *@
<a class="btn btn-danger btn-xs" role="button" href="@Url.Action("PhotoRemove", "Home", new { dir = ViewBag.Thumb })">Delete</a>
<br />
<br />
<img width="500" height="500" src="/@ViewBag.Pic">
